html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
}

@media (max-width: 1000px) {
  body {
    font-size: 33px;
  }
}

a {
  text-decoration: none;
}

.top {
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
  margin: 0;
  text-align: center;
  background-image: url("bg.jpg");
  /* background-color: black; */
  background-size: cover;
}

h1 {
  font-size: 80px;
  font-weight: 200;
  padding-top: 13%;
  margin-bottom: 0;
  color: white;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 100px;
  }
}

.top hr {
  width: 420px;
  margin-top: 1.5%;
  margin-bottom: 15%;
  border: 1px solid white;
}

.scroll-div {
  /* height: 40px; */
  opacity: 0.3;
  margin: 35px;
  margin-top: -50px;
}

.scroll:hover {
  /* height: 40px; */
  opacity: 0.8;
}

.scroll {
  height: 20px;
}

.navbar {
  /* width: 75%; */
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding: 22px 0 22px 365px;
  /* margin-bottom: 3%; */
  background-color: rgba(265, 265, 265, 0.9);
  /* background-color: white; */
  position: sticky;
  top: 0;
  /* width: 75%; */
  border-bottom: 1px solid lightgrey;
  z-index: 4;
  transition: top 0.7s;
}

@media (max-width: 1000px) {
  .navbar {
    padding: 50px 0 50px 10%;
    font-size: 2.5rem;
  }
}

.navbar a:hover {
  /* text-decoration: underline; */
  color: darkgrey;
  transition: all 0.2s ease-out;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  transition: all 0.2s ease-out;
}

.navbar p {
  margin: 0;
}

.nav-btn {
  padding-right: 25px;
}

#about-me {
  /* padding-top: 100px; */
  /* margin-top: -60px; */
}

#my-work {
  margin-top: -75px;
  margin-bottom: 75px;
}

#contact-me {
  padding-top: 75px;
  margin-top: -75px;
}

.second {
  overflow: auto;
  padding: 3% 0;
  background-color: white;
}

.third {
  overflow: auto;
  padding: 3% 0;
  background-color: #f5f5f5;
}

.h2-second {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  margin-top: 0;
  line-height: 1.9rem;
}

@media (max-width: 1000px) {
  .h2-second {
    /* font-weight: 600; */
    /* text-align: center; */
    margin-top: 40px;
    margin-bottom: 70px;
    font-size: 60px;
    text-transform: uppercase;
  }
}

.second-left {
  float: left;
  width: 130px;
  text-align: right;
  margin-left: 170px;
}

@media (max-width: 1000px) {
  .second-left {
    float: none;
    text-align: left;
    margin: 0 10%;
    width: revert;
    /* padding-top: 50px; */
  }
}

.second-right {
  margin-left: 365px;
  width: 530px;
}

@media (max-width: 1000px) {
  .second-right {
    width: auto;
    margin: 0 10%;
  }
}

.kim {
  float: left;
  width: 177px;
  border-radius: 5%;
  margin-top: 5px;
  margin-right: 25px;
  margin-bottom: 10px;
  transition: all 0.2s ease-out;
}

@media (max-width: 1000px) {
  .kim {
    width: 270px;
  }
}

.kim:hover {
  filter: brightness(0.9);
  transition: all 0.2s ease-out;
}

.kim-full {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

dialog {
  display: block;
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  border: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
  font-weight: bold;
}

dialog:not(:target):not([open]) {
  display: none;
}

.arrow {
  font-size: 0.9rem;
  font-weight: bold;
  transform: rotate(5deg);
  transition: all 1s ease-out;
  width: 90px;
  /* margin-left: -110px; */
  margin-left: 470px;
  margin-top: -120px;
}

@media (max-width: 1000px) {
  .arrow {
    display: none;
    /* margin-left: 100%; */
    font-size: 1.7rem;
    width: 180px;
    margin-top: -350px;
  }
}

.arrow-img {
  width: 60px;
  margin-top: -10px;
  margin-left: -10px;
}

@media (max-width: 1000px) {
  .arrow-img {
    width: 100px;
    margin-top: -20px;
    margin-left: -10px;
    margin-bottom: 200px;
  }
}

.redaction {
  font-weight: bold;
  padding-top: 15px;
}

audio {
  height: 30px;
  width: 80%;
  margin-left: 50px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: lightgrey;
}

@media (max-width: 1000px) {
  audio {
    height: revert;
    width: 100%;
    border-style: none;
    margin-left: 0;
  }
}

.show-img {
  /* float: left; */
  width: 50px;
  border-radius: 5%;
  margin-top: 20px;
  margin-right: 1%;
}

/* .show-tiles-parent {
  height: 90px;
} */

@media (max-width: 1000px) {
  .show-tiles-parent {
    height: 165px;
  }
}

.show-tiles {
  margin-left: 20px;
  margin-right: 20px;
  /* margin-bottom: 70px; */
  /* width: 400px; */
  display: inline-flex;
  /* width: 405px;
  height: 88px;
  overflow-x: scroll;
  scrollbar-color: lightgrey #e8e8e8;
  scrollbar-width: thin; */
}

@media (max-width: 1000px) {
  .show-tiles {
    width: 120%;
    height: 150px;
    margin-left: -11%;
    margin-top: 2%;
    margin-bottom: 3%;
    overflow-x: scroll;
  }
}

.show-tiles::-webkit-scrollbar {
  height: 10px;
  /* Chrome, Safari and Opera */
}

.show-tiles::-webkit-scrollbar-thumb {
  background: lightgrey;
}

.show-tiles::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
}

.show-tiles::-webkit-scrollbar-track {
  background: #e8e8e8;
}


@media (max-width: 1000px) {
  .show-tiles-gradient {
margin-left: 84.5%;
/* width: 20%; */
height: 130px;
position: absolute;
width: 27px;
background: linear-gradient(to right, rgba(245, 245, 245, 0), #f5f5f5);
z-index: 3;


  }
}

.show-title {
  font-weight: bold;
}

.show {
  background-color: lightgrey;
  border-radius: 30%;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  min-width: 60px;
  margin: 3px;
  background-size: cover;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  /* filter: brightness(.5); */
  filter: grayscale(90%);
  color: white;
  text-align: center;
  transition: all 1s ease-out;
  z-index: 2;
}

.show:hover {
  filter: grayscale(0);
  transition: all 0.3s ease-out;
}

@media (max-width: 1000px) {
  .show {
    min-height: 120px;
    min-width: 120px;
  }
}

.show1 {
  background-image: url("pulse.jpg");
}

.show2 {
  background-image: url("fire.jpg");
}

.show3 {
  background-image: url("analog.jpg");
}

.show4 {
  background-image: url("gnu.jpg");
}

.show5 {
  background-image: url("house.jpg");
}

.show6 {
  background-image: url("pig.jpg");
}

.show7 {
  background-image: url("woods.jpg");
}

.show8 {
  background-image: url("duck.jpg");
}

.show9 {
  background-image: url("scorpion.jpg");
}

.show20 {
  background-image: url("artichoke.jpg");
}

.show21 {
  background-image: url("champ.jpg");
}

.show22 {
  background-image: url("hemp.jpg");
}

.show23 {
  background-image: url("jackfruit.jpg");
}

.show24 {
  background-image: url("poppies.jpg");
}

.show25 {
  background-image: url("celery.jpg");
}

.show26 {
  background-image: url("grapes.jpg");
}

.show27 {
  background-image: url("sugar.jpg");
}

.show30 {
  background-image: url("gimpel.jpg");
}

.show31 {
  background-image: url("bird.jpg");
}

.show32 {
  background-image: url("desert.jpg");
}

.show33 {
  background-image: url("tick.jpg");
}

.show-clicked {
  cursor: pointer;
  /* filter: brightness(1); */
  filter: grayscale(0);
  background-color: grey;
  display: inline-block;
  height: 60px;
  width: 60px;
  transition: all 1s ease-out;
}

@media (max-width: 1000px) {
  .show-clicked {
    height: 120px;
    width: 120px;
  }
}

.text-hidden {
  /* display: none; */
  color: darkgrey;
  font-size: 1pt;
  opacity: 0;
  height: 0;
  margin-left: 20px;
  margin-right: 20px;
  /* transition: all 0.3s ease-out; */
}

@media (max-width: 1000px) {
  .text-hidden {
    display: none;
    font-size: 24px;
  }
}

.text-shown {
  color: black;
  display: block;
  font-size: revert;
  opacity: 1;
  height: auto;
  transition: .6s ease;
  margin-top: 20px;
  margin-bottom: 30px;
  /* visibility: visible; */
}

.buttons {
  text-align: center;
  margin-top: 30px;
}

.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  color: #4a4a4a;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;;
  background: #ebebeb;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-width: 0;
  width: 180px;
  margin: 10px 20px 10px 0;
  font-weight: 500;
  transition: all 0.3s ease-out;
}

@media (max-width: 1000px) {
  .btn {
    font-size: 33px;
    width: 45%;
    margin-top: 3%;
    margin-bottom: 6%;
  }
}


.btn:hover {
  background: black;
  color: #ebebeb;
  text-decoration: none;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.link-regular {
  text-decoration: underline;
  color: black;
}

.articles {
  margin-left: 20px;
}

.footer {
  text-align: center;
  background-image: url("bg.jpg");
  color: white;
  padding: 0.5%;
}

summary {
  list-style: none;
}
