html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
}

@media (max-width: 1000px) {
  body {
    font-size: 28px;
  }
}

a {
  text-decoration: none;
}

.top {
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
  margin: 0;
  text-align: center;
  background-image: url("bg.jpg");
  /* background-color: black; */
  background-size: cover;
}

h1 {
  font-size: 80px;
  font-weight: 200;
  padding-top: 13%;
  margin-bottom: 0;
  color: white;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 100px;
  }
}

.top hr {
  width: 420px;
  margin-top: 1.5%;
  margin-bottom: 15%;
  border: 1px solid white;
}

.navbar {
  /* width: 75%; */
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding: 20px 0 20px 365px;
  /* margin-bottom: 3%; */
  /* background-color:rgba(0, 0, 0, 0.25); */
background-color: white;
  position: sticky;
  top: 0;
  /* width: 75%; */
  border: 1px solid lightgrey;
  z-index: 1;
  transition: top 0.7s;
  font-size: 1.2rem;
}

@media (max-width: 1000px) {
  .navbar {
    padding-left: 10%;
    font-size: 2.5rem;
  }
}

.navbar a {

  text-decoration: none;
  color: black;
  font-weight: 400;
}

.navbar p {
  margin: 0;
}

.nav-btn {
  padding-right: 25px;
}

/* #about-me {
  padding-top: 75px;
  margin-top: -75px;
}

#my-work {
  margin-top: -100px;
  margin-bottom: 100px;
}

#contact-me {
  padding-top: 75px;
  margin-top: -75px;
} */

.second {
  overflow: auto;
  padding: 3% 0;
  background-color: white;
}

.third {
  overflow: auto;
  padding: 3% 0;
  background-color: #f5f5f5;
}

.h2-second {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  margin-top: 0;
  line-height: 1.9rem;
}

@media (max-width: 1000px) {
  .h2-second {
    font-weight: 600;
    /* text-align: center; */
    margin-top: 40px;
    margin-bottom: 55px;
    font-size: 50px;
  }
}

.second-left {
  float: left;
  width: 130px;
  text-align: right;
  margin-left: 170px;
}

@media (max-width: 1000px) {
  .second-left {
    float: none;
    text-align: left;
    margin: 0 10%;
    width: revert;
  }
}

.second-right {
  margin-left: 365px;
  width: 530px;
}

@media (max-width: 1000px) {
  .second-right {
    width: auto;
    margin: 0 10%;
  }
}

.kim {
  float: left;
  width: 177px;
  border-radius: 5%;
  margin-top: 5px;
  margin-right: 25px;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .kim {
    width: 270px;
  }
}

.kim-full {
  max-width: 90%;
  max-height: 80%;
}

dialog {
  display: block;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  border: none;

  position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1000;
    color: white;
}

dialog:not(:target):not([open]) {
  display: none;
}

.arrow {
  font-size: 0.9rem;
  font-weight: bold;
  transform: rotate(5deg);
  transition: all 1s ease-out;
  width: 90px;
  /* margin-left: -110px; */
  margin-left: 450px;
  margin-top: -140px;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .arrow {
    margin-left: 100%;
    font-size: 1.7rem;
    width: 180px;
    margin-top: -350px;
  }
}

.arrow-img {
  width: 60px;
  margin-top: -10px;
  margin-left: -10px;
}

@media (max-width: 1000px) {
  .arrow-img {
    width: 100px;
    margin-top: -20px;
    margin-left: -10px;
    margin-bottom: 200px;
  }
}

.redaction {
  font-weight: bold;
  padding-top: 15px;
}

audio {
  height: 20px;
  width: 66%;
  margin-left: 70px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: lightgrey;
}

 @media (max-width: 1000px) {
  audio {
    height: revert;
    width: revert;
    border-style: none;
    margin-left: 0;
  }
}

.show-img {
  float: left;
  width: 50px;
  border-radius: 5%;
  margin-top: 20px;
  margin-right: 1%;
}

.show-tiles {
  margin-left: 20px;
  margin-right: 20px;
  /* margin-bottom: 70px; */
}

@media (max-width: 1000px) {
  .show-tiles {
    width: 80%;
  }
}

.show-title {
font-weight: bold;
}

.show {
  background-color: lightgrey;
  border-radius: 30%;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 3px;
  background-size: cover;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  /* filter: brightness(.5); */
  filter: grayscale(90%);
  color: white;
  text-align: center;
  transition: all 1s ease-out;
  z-index: 2
}

.show:hover {
  filter: grayscale(0);
  transition: all 0.3s ease-out;
}

@media (max-width: 1000px) {
  .show {
    height: 120px;
    width: 120px;
  }
}

.show1 {
  background-image: url("show1.jpg");
}

.show2 {
  background-image: url("show2.jpg");
}

.show3 {
  background-image: url("show3.jpg");
}

.show4 {
  background-image: url("mic.png");
}

.show5 {
  background-image: url("mic.png");
}

.show6 {
  background-image: url("mic.png");
}

.show7 {
  background-image: url("mic.png");
}

.show8 {
  background-image: url("mic.png");
}

.show9 {
  background-image: url("mic.png");
}

.show20 {
  background-image: url("mic.png");
}

.show21 {
  background-image: url("mic.png");
}



.show-clicked {
  cursor: pointer;
  /* filter: brightness(1); */
  filter: grayscale(0);
  background-color: grey;
  display: inline-block;
  height: 60px;
  width: 60px;
  transition: all 1s ease-out;
}

@media (max-width: 1000px) {
  .show-clicked {
    height: 120px;
    width: 120px;
  }
}

.text-hidden {
  /* display: none; */
  color: darkgrey;
  font-size: 1pt;
  opacity: 0;
  height: 0;
  margin-left: 20px;
  margin-right: 20px;
  /* transition: all 0.1s ease-out; */
}

@media (max-width: 1000px) {
  .text-hidden {
    display: none;
    font-size: 24px;
  }
}

.text-shown {
  color: black;
  display: block;
  font-size: revert;
  opacity: 1;
  height: auto;
  transition: all 0.2s ease-out;
  margin-top: 20px;
  margin-bottom: 30px;
  /* visibility: visible; */
}


.footer {
text-align: center;
background-image: url("bg.jpg");
color: white;
padding: 0.5%;
}

summary {
  list-style: none;
}
